.atuacao {
  background: url(/src/assets/img/hero-atuacao.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.atuacao::before,
.bgFinalAtuacao::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(0.3rem) saturate(200%) brightness(60%);
  -webkit-backdrop-filter: blur(0.3rem) saturate(200%) brightness(60%);

  position: absolute;
  z-index: -1;
}

.bgFinalAtuacao {
  background: url(/src/assets/img/bgFinalAtuacao.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  height: 60vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  /* margin-bottom: 20rem; */
}

.bgFinalAtuacao .main-content {
  display: flex;
  align-items: center;
  padding: 8rem 0;
  gap: 5rem;
}

.bgFinalAtuacao h2 {
  color: #fff;
}

.bgFinalAtuacao p {
  color: var(--cinzaLetras);
  font-weight: bold;
  font-size: 2rem;
  min-width: 50%;
  max-width: 50%;
}

@media (max-width: 1070px) {
  .bgFinalAtuacao .main-content p {
    min-width: none;
    max-width: none;
    padding: 2rem 0;
  }

  .bgFinalAtuacao .main-content {
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
  }

  .atuacao,
  .bgFinalAtuacao {
    background-attachment: scroll;
    background-position: 80%;
  }
}
