.jobDescription,
.reverse {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--corPrimaria);
}
.jobDescription span {
  color: var(--corPrimaria);
}
.jobDescription p,
.reverse p {
  padding: 1rem 0;
}

.jobDescription span,
.jobDescription h2,
.jobDescription p {
  margin-left: 5rem;
}

.jobDescription img {
  margin-left: 5rem;
}

.jobDescription .contactButton {
  margin-left: 5rem;
  position: relative;
  top: 15px;
}

.bgCinza {
  background-color: var(--cinzaBg);
}

.reverse {
  flex-direction: row-reverse;
  padding: 10rem 0;
}

.reverse span,
.reverse h2,
.reverse p {
  margin-right: 5rem;
}

.reverse img {
  margin-right: 5rem;
}

.reverse h2,
.jobDescription h2 {
  padding: 1rem 0;
}

@media (max-width: 1070px) {
  .jobDescription span,
  .jobDescription h2,
  .jobDescription p,
  .jobDescription img,
  .jobDescription .contactButton {
    margin-left: 0;
  }
  .jobDescription .contactButton {
    margin: 3rem 0 3rem auto;
  }
  .jobDescription img,
  .reverse img {
    width: 100%;
    margin-top: 4rem;
  }
  .reverse span,
  .reverse h2,
  .reverse p,
  .reverse img {
    margin-right: 0;
  }
  .reverse h2,
  .jobDescription h2 {
    padding: 0.4rem 0;
  }

  .jobDescription,
  .reverse {
    flex-direction: column;
  }
}
