.jobDescription.listTextConfig {
  padding-left: 0;
  padding: 3rem;
  max-width: 100rem;
}

.jobDescription.listTextConfig h2,
.jobDescription.listTextConfig p,
.jobDescription.listTextConfig span {
  margin-left: 0;
}

.listTextConfig .contactButton {
  margin-left: 0;
  margin-top: 2rem;
}

.listText {
  width: 100%;
  height: max-content;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.listText li {
  color: var(--corPrimariaSegundoTom);
}

.listText ul {
  font-weight: bold;
  width: 100%;
}

.listText ul li {
  position: relative;
  margin-left: 2rem;
  width: max-content;
}
.listText ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--corDestaque);
  position: absolute;
  left: -20px;
  border-radius: 50%;
  top: 10px;
}

.listLeft,
.listRight {
  height: max-content;
  width: 100%;
}

@media (max-width: 850px) {
  .listText {
    grid-template-columns: 1fr;
  }

  .listText ul {
    width: 100%;
  }

  .listText ul li {
    margin-top: 0.3rem;
    font-size: 1.4rem;
  }

  .jobDescription.listTextConfig {
    padding: 0;
    max-width: 120rem;
  }
}
