.bgFinalHome {
  background-image: url(/src/assets/img/AdvogadosDoEscritorio.webp) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.home.container {
  padding: 0;
  margin: 0;
}

.whiteSession {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.whiteSession p {
  padding-left: 20%;
  font-weight: bold;
  color: var(--cinzaLetras);
}

.whiteSession h2 {
  color: var(--corPrimariaSegundoTom);
}

.aboutMe {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.aboutMe p {
  padding: 4rem 0;
  font-size: 1.8rem;
  color: var(--cinzaLetras);
  font-family: var(--fonteParagrafo);
}

.valores {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}

.valores h3 {
  color: var(--corPrimariaSegundoTom);
  padding-bottom: 4rem;
}

.valores ul {
  margin-top: 2rem;
  display: flex;

  gap: 5rem;
  text-align: center;
}

.valores ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valores .ballIcon {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    180deg,
    #dfdfdf 0%,
    rgba(223, 223, 223, 0) 100%
  );
  position: relative;
  box-shadow: 0 15px 5px rgba(223, 223, 223, 0.323);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.ballIcon::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: var(--corDestaque);
  position: absolute;
  left: 35px;
  top: 110px;
  transition: all 0.3s ease-in;
  border-radius: 2rem;
  box-shadow: -10px 10px 10px rgb(209, 209, 209);
}

.ballIcon:hover::after {
  width: 100%;
  left: 0px;
  right: 10px;
  top: 120px;
}

.ballIcon:hover {
  transform: translateY(5px);
  box-shadow: none;
}

.valores ul li span {
  font-weight: bold;
  color: var(--corPrimariaSegundoTom);
  padding-top: 2rem !important;
}

@media (max-width: 1070px) {
  .whiteSession {
    flex-direction: column;
    text-align: center;
    padding: 5rem 0;
  }
  .aboutMe p,
  .aboutMe h2 {
    text-align: center;
  }

  .valores h3 {
    padding-bottom: 3rem;
  }

  .valores ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .whiteSession p {
    padding: 0;
  }

  .aboutMe {
    flex-direction: column;
  }

  .aboutMe img {
    width: 100%;
  }

  .bgFinalHome {
    background-position: 60%;
    background-attachment: scroll;
  }
}

@media (max-width: 400px) {
  .valores ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}
