.bgFinalHome {
  background-image: url(/src/assets/img/AdvogadosDoEscritorio.webp) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.home.container {
  padding: 0;
  margin: 0;
}

.whiteSession {
  display: flex;
  gap: 5rem;
}

.whiteSession p {
  padding-left: 20%;
  font-weight: bold;
  color: var(--cinzaLetras);
}

.whiteSession h2 {
  color: var(--corPrimariaSegundoTom);
}

.aboutMe {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.aboutMe p {
  padding: 4rem 0;
  font-size: 1.8rem;
  color: var(--cinzaLetras);
  font-family: var(--fonteParagrafo);
}

@media (max-width: 1070px) {
  .whiteSession {
    flex-direction: column;
    text-align: center;
    padding: 5rem 0;
  }
  .aboutMe p,
  .aboutMe h2 {
    text-align: center;
  }

  .whiteSession p {
    padding: 0;
  }

  .aboutMe {
    flex-direction: column;
  }

  .aboutMe img {
    width: 100%;
  }

  .bgFinalHome {
    background-position: 60%;
    background-attachment: scroll;
  }
}
