@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --corPrimaria: #0f1f2f;
  --corPrimariaSegundoTom: #0b254b;
  --corPrimariaTerceiroTom: #1e3956;
  --corSecundaria: #cf9031;
  --corSecundariaSegundoTom: #caa25d;
  --corDestaque: #ffc226;
  --cinzaPadrao: #cecec2;
  --fonteTitulo: "Rubik", sans-serif;
  --fonteParagrafo: "Poppins", sans-serif;
  --paddingSection: 3rem;
  --borderRadius: 10px;
  --cinzaLetras: #9d9d9d;
  --cinzaBg: #f9f9f9;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: max-content;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  animation: loadBody 1s ease-in-out forwards;
}

@keyframes loadBody {
  from {
    scroll-behavior: smooth;
  }
  to {
    scroll-behavior: none;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fonteTitulo);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}

a {
  cursor: pointer;
}

p,
a,
li,
span {
  font-family: var(--fonteParagrafo);
  font-size: 1.6rem;
  color: #000;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
}

.container {
  padding: var(--paddingSection);
  height: max-content;
  min-width: 100%;
  margin-top: 13rem;
}

::selection {
  background-color: var(--corSecundaria);
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--corPrimaria);
}

::-webkit-scrollbar-thumb {
  background-color: var(--corSecundaria);
  border-radius: 2rem;
}

@media (max-width: 1070px) {
  .container {
    margin-top: 0;
  }
}
